{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="screen">
        <div class="Home-nav">
            <ul>
                <li>
                    <a class="profiletab" href="{% url 'accounts:profile' %}">
                        <button>
                            <img  src="../static/image/profile.png" alt="User" >
                        </button>
                    </a>
                </li>
                <li>
                    <a class="create_shifttab" href="{% url 'accounts:create_shift' %}">
                        <button>
                            <img  src="../static/image/schedule.png" alt="Create_shift">
                        </button>
                    </a>
                </li>
                <li>
                    <a class="shifttab" href="{% url 'accounts:shift' %}">
                        <button>
                            <img  src="../static/image/calendar.png" alt="Shift">
                        </button>
                    </a>    
                </li>
                <li>
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button class="logout-buttontab" type="submit" >
                            <img src="../../static/image/logout.png" alt="Logout">
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
 {% endif %}
{% endblock content %}

