{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<!-- {% include 'navbar.html' %} -->

<div class="title">username : {{user.username}}</div>




<input type="file" id="file" />
<a href="javascript:void(0);" id="button">Select photo</a>
<div id="image-container"></div>


<script>

    var button = document.getElementById('button');
    // clickされたら
    button.addEventListener('click', function () {
    // inputのclickメソッドを呼ぶ
        input.click();
    });

    function displayImage(url) {
            var img = new Image();
            img.src = url;
            // img.height = 400;
            img.width = 350;
            var imageContainer = document.getElementById('image-container');
            imageContainer.innerHTML = ''; // 既存の画像を削除
            imageContainer.appendChild(img);
    }
     // ローカルストレージから画像を読み込んで表示
     var storedImage = localStorage.getItem('profileImage');
        if (storedImage) {
            displayImage(storedImage);
        }

        // 要素を取得
        var input = document.getElementById('file');
        // changeイベントでファイルの選択をキャッチ
        input.addEventListener('change', function (e) {
            var file = e.target.files[0];

            // FileReaderを初期化して、
            var fr = new FileReader();
            // ファイルが読み込み終わったあとの処理を書いておく
            fr.addEventListener('load', function() {
                var url = fr.result;
                // 画像を表示
                displayImage(url);
                // ローカルストレージに保存
                localStorage.setItem('profileImage', url);
            });
            // ファイルをデータURLとして読み込む
            fr.readAsDataURL(file);
        });


</script>

{% endif %}
{% endblock content %}