body{
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /* background-color:  #ffd670; */
    /* background-image: radial-gradient(circle, #ff9770, #ffd670); */
    background: #668251;
    color: #270a16;
    padding: 1%;
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
}

.loading{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70% 0 0 35%;
    height: 100%;
    font-size: 35px;
    position: fixed;
}

.unagi {
    display: block;
    margin: auto;
    width: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a{
    text-decoration: none;
}

.login-body{
    margin: 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: #fceda3;
    text-align: center;
    width: 60%;
    margin: 2%;
    padding: 5%;
    border-radius: 50% 20% / 10% 40% ;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    
}

h2{
    margin: 5% 0 0;
}

form{
    margin-bottom: 15px;
    text-align: center;
}

input {
    width: 60%;
    padding: 15px 20px 0;
    border: none;
    border-bottom: 1px solid #270a16;
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; */
    font-size: 16px;
    background-color:#fceda3 ;
}

input:focus{
    outline: none;
    border-color: #270a16;
    /* box-shadow: 0 0 10px rgba(255, 99, 71, 0.5); */
    transform: scale(1.05)
}

button{
    /* width: 60%; */
    margin: 10% 0 0 0;
    padding: 15px 25px;
    background-color: #270a16;
    border: none;
    border-radius:5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3 ease;
    text-align: center;
}

button:hover{
    transform: scale(1.1);
}

a{
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3 ease;
}

.top{
    /* display: flex; */
    width: 100%;  
    margin: 0;
    padding: 0;
}

.logout-button{
    text-align: right;
    margin: 0;
}




/* navvar.htmlのcss */



.hamburger{
    display: block;
    position: fixed;
    z-index: 3;
    right: 20px;
    top: 20px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
}

.hamburger span{
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    left: 6px;
    background: #270a16;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1){
    top: 10px;
}

.hamburger span:nth-child(2){
    top: 20px;
}

.hamburger span:nth-child(3){
    top: 30px;
}


/* スマホメニューを開いてる時のボタン */
.hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#270a16;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#270a16;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  /* メニュー背景　*/
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: #668251;
    text-align: center;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.6s;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 50% 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #270a16;
    padding: 1em 0;
    text-decoration :none;
  }

  nav.globalMenuSp ul li button {
    display: block;
    color: #270a16;
    padding: 1em 0;
    background: none;
    width: 100%;
    text-align: center;

  }
  
  /* クリックでjQueryで追加・削除 */
  nav.globalMenuSp.active {
    opacity: 100;
    display: block;
     transform: translateX(0%);
  }



h1{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: 'Roboro', sans-serif;
}

.h2{
    position: absolute;
    top: 10px;
    left: 80%;
}










/* calendar.css */





#calendar{
   width: 100%;
}

#shiftModal{
    position:fixed; 
    top:50%; 
    left:50%; 
    width: 60%; 
    transform:translate(-50%, -50%); 
    background:#faf4e1; 
    padding:20px; 
    border:1px solid #270a16;
}

#shiftModal ul{
    padding: 0;
}

#shiftModal li{
    list-style: none;
    margin: 15px;
    font-size: 20px;
}

.title{
    margin:2%;
    /* text-align: center; */
    font-size: 18px;
    font-weight: bold;
}

#month{
    text-align: center;
    margin: 5% 0 0 0;
}

#currentYearMonth{
    color: #270a16;
    font-weight: bold;
    font-size: 20px;
    padding: 0 20px;
}



table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
    color: #270a16
}

thead{
    position: sticky;
    top: 0;
}

th, td {
    border: 1px solid #270a16;
    padding: 0px;
    text-align: center;
    width: 50px; 
    height: 70px; 
    box-sizing: border-box;
}

th {
    /* background-color: #be781670; */
    background: #d2e4c3;
    /* background: #270a16; */
    color:#668251;
    /* color: #668251; */
}

td {
    background-color: #faf4e1;
}

.today {
    background-color: rgb(255, 186, 167);
    font-weight: bold;
    color: black; /* 文字色を元に戻す */
}

#month button{
    background-color:#d2e4c3;
    color: #270a16;
    /* color:#fceda3; */
    border-radius: 60%;
    border:1px solid #270a16;
}



input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
}


input[type="radio"]:checked + label {  /*クリックしたときの色 */
    border: 2px solid #270a16;
    }

.label{
    margin: 10% 0; /* ラベル外側の余白を指定する */
    /* border: 2px dotted #ffb570;;ラベルの境界線を実線で指定する */
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; */
    padding: 5px;
    cursor: pointer;
}




.shift-info{
    text-align: center;
}

.shift-info span{
    margin: 3px 10px;
    font-size: 20px;
}





/* profile.html */




.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}



#image-container{
    width: 100%;
    height: 100%;
}

#image-container img{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#file{
    display: none;
}

#button{
    color: #270a16;
    margin: 0 0 0 10px;
    border: solid #270a16;
    /* border-radius: 50% 20%; */
}

#delete-button{
    color: #270a16;
    margin: 0 0 0 10px;
    border: solid #270a16;
}

.registar-button{
    text-align: center;
}

.registar-button button{
    margin: 0 0 3% 0;
}

.userList{
    text-align: center;

}

.userList ul{
    /* margin: 0; */
    padding: 0;
}

.userList li{
    list-style: none;
}

.userList button{
    margin: 2% 0;
}

.password_change{
    margin: 3% 0;
}




/* table.html */




#shiftTable table {
    width: 100%;
    border-collapse: collapse;
}

#shiftTable th, #shiftTable td {
    border: 1px solid #270a16;
    padding: 8px;
    text-align: center;
    background-color: #faf4e1;
}

#shiftTable th {
    background-color: #d2e4c3;
}

#shiftTable td:first-child {
    font-weight: bold;
    background-color: #d2e4c3;
    color: #270a16;
}

#shiftTableModal{
    position:fixed; 
    top:50%; 
    left:50%; 
    width: 60%; 
    transform:translate(-50%, -50%); 
    background:#faf4e1; 
    padding:20px; 
    border:1px solid #270a16;
}

#shiftTableModal ul{
    padding: 0;
}

#shiftTableModal li{
    list-style: none;
    margin: 15px;
    font-size: 20px;
}









/* create_post.css */




.allpost{
    background-color: #270a16;
    text-align: center;
    padding: 1%;
    border: 1px solid #270a16;
    border-radius: 5%;
    margin: 5% 0;
}

.postcontent{
    background-color: #faf4e1;
    padding: 6% ;
    border-radius: 5%;
}

.posttitle{
    font-size: large;
    font-size: 20px;
    /* text-align: left; */
    border-bottom:1px solid #270a16;
    /* margin: 0% 20%; */
    /* text-align: left; */
}

.postname{
    float: right;
    margin: 0;
}

.postmessage{
    margin: 5% 0;
    font-size: 18px;
}

.posttime{
    float: right;
    margin: 0;

}

.dli-plus-circle {
    margin: 5% 0 0 0;
    display: inline-block;
    vertical-align: middle;
    color: #270a16;
    line-height: 1;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    border: 0.2em solid currentColor;
    border-radius: 50%;
    box-sizing: content-box;
    background-color: #faf4e1;
    left: 85%;
  }
  

  .dli-plus-circle > span {
    width: 52%;
    height: 0.25em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .dli-plus-circle > span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
  }



  .create_post{
    background-color: #faf4e1;
    text-align: center;
    margin: 30% 15%;
    padding: 0% 0% 5%;
    border: 1px solid #270a16;
  }
 
  textarea{
    width: 60%;
    padding: 15px 20px;
    border: 1px solid #270a16;
        /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; */
    font-size: 16px;
    background-color: #fffde7;
}
    
textarea:focus{
    outline: none;
    border-color: #270a16;
    transform: scale(1.05)
}
  
input#id_title{
    background: none;
 
    border: none; 
    border-bottom:1px solid #270a16;
}

.createtitle{
    background-color: #270a16;
    padding: 3% 0;
    color: #faf4e1;
    font-weight: bold;
    margin: 0;
}

.sendbutton{
    background-color: #270a16;
    color: #faf4e1;
    font-weight: bold;
    padding: 3%;
}

.create_post label {
    display: none;
}






