{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div id = "currentuserId">{{user.account_id}}</div>

<div id="month">
    <button id="prevMonthtable">＜</button>
    <span id="currentYearMonth"></span>
    <button id="nextMonthtable">＞</button>
</div>
<br>

<div id="shiftTable"></div>

<div id="shiftModal" style="display:none;">
    <h3 id="modalDate"></h3>
    <button id="cancelShift">×</button>
    <label for="shiftInput"></label>
    <!-- <input type="text" id="shiftInput"> -->
    <br>
    <ul>
       <li>
            <input type="radio" id="lunchShift" name="shiftType" value="△">
            <label for="lunchShift" class="label">ランチ:△</label>
       </li>
       <li>
            <input type="radio" id="dinnerShift" name="shiftType" value="○">
            <label for="dinnerShift" class="label">ディナー:○</label>
        </li>
        <li>
            <input type="radio" id="11Shift" name="shiftType" value="11">
            <label for="11Shift" class="label">11時～</label>
        </li>
        <li>
            <input type="radio" id="17Shift" name="shiftType" value="17">
            <label for="17Shift" class="label">17時～</label>
        </li>
        <li>
            <input type="radio" id="orShift" name="shiftType" value="☆">
            <label for="orShift" class="label">どっちでも:☆</label>
        </li>
        <li>
            <input type="radio" id="fullShift" name="shiftType" value="◎">
            <label for="fullShift" class="label">オーラス:◎</label>
        </li>
        <li>
            <input type="radio" id="NoShift" name="shiftType" value="✕">
            <label for="NoShift" class="label">休み:×</label>
        </li>
    </ul>
    
    <br>

    
    <!-- <button id="deleteShift">削除</button> -->
    <button id="saveEditShift">保存</button>

</div>


<!-- <div id="shiftInfoContainer"></div> -->

<!-- <script>

    function getCookie(name) {
       let cookieValue = null;
       if (document.cookie && document.cookie !== '') {
           const cookies = document.cookie.split(';');
           for (let i = 0; i < cookies.length; i++) {
               const cookie = cookies[i].trim();
               if (cookie.substring(0, name.length + 1) === (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
           }
       }
       return cookieValue;
   }

   const csrfToken = getCookie('csrftoken');
   const shiftData = JSON.parse('{{ shift_data|escapejs }}');
   shifts = shiftData; 

</script> -->


<script src="../../static/js/calendar.js"> </script>


{% endif %}
{% endblock content %}